<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#/chatrequests" class="logo" >SPEED<span>TAXI</span> APP</a>
    <!--logo end-->
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <button ng-click="logout()" class="btn btn-danger">Logout</button>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</header>
<!--header end-->